*{
    margin:0;
    padding:0;
}
nav{
    padding: 1% 5%;
    box-shadow: 0 5px 15px rgba(5, 5, 5, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}
.logo img{
    width: 20%;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 12px;
}
.menu ul li a{
    text-decoration: none;
    color:rgb(11, 11, 11);
    font-weight: 500;
}
.menu ul li a:hover{
    border-bottom: 2px solid black;
}
.hero{
    background: linear-gradient(rgba(26,60,52,0.75),rgba(26,60,52,0.85)),url('hero.jpg');
    color:white;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.hero-content{
    width:700px;
    padding:0 20px;
}
.hero h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.hero-subtitle{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.hero-desc{
    font-size: 1.1em;
    width:500px;
    margin-bottom: 2.5rem;
}
.bam{
    padding:10px;
    background: tomato;
    color:white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.form{
    padding:1% 5%;
}
fieldset{
    width:60%;
    padding:3%;
}
legend{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
input{
    margin: 1%;
    padding:8px;
    width:95%;
}
textarea{
    width:98%;
    margin-left: 1%;
}
button{
    margin-left: 1%;
}
.sub{
    padding:10px;
    color:white;
    cursor: pointer;
    text-align: center;
    font-weight:700;
    border:none;
    outline: none;
    background: dodgerblue;
}
.can{
    padding:10px;
    color:white;
    cursor: pointer;
    text-align: center;
    font-weight:700;
    border:none;
    outline: none;
    background: rgb(193, 174, 3);
}